<div class="my-4 border">
    <div class="form-group">
        <%= f.label :name, 'Select magazine: ', class: 'font-weight-bold text-dark' %> 
        <%= f.collection_select :magazine_id, @magazines, :id, :name %>
    </div>

    <div class="form-check">
        <%= f.label :editor %>
        <%= f.check_box :editor %>
    </div>
    <div class="form-check">
        <%= f.label :writer %>
        <%= f.check_box :writer %>
    </div>
    <div class="form-check">
        <%= f.label :reviewer %>
        <%= f.check_box :reviewer %>
    </div>
</div>
