<p id="notice"><%= notice %></p>

<h1>Strains</h1>

<%= link_to 'New Strain', new_strain_path, class:"btn btn-wine mb-4" if current_admin %>

<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @strains.each do |strain| %>
      <tr>
        <td><li><%= strain.name %></li></td>
        <% if current_admin %>
          <td><%= link_to 'Edit', edit_strain_path(strain) %></td>
          <td><%= link_to 'Destroy', strain, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
<%= link_to '<< Back', wines_path %>
