<div class="field">
    <%= f.label :name, "Select Strain" %> 
    <%= f.collection_select :strain_id, Strain.all, :id, :name %>
</div>
<div class="field">
    <%= f.label :percent, "Add strain's percent"%>
    <%= f.number_field :percent, in: 0.1..100.0, step: 0.1, placeholder: '0.1 to 100.0' %>
</div>
<%# <%= link_to_remove_association('remove strain', f) %>

