<%= form_with(model: wine, local: true) do |form| %>
  <% if wine.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(wine.errors.count, "error") %> prohibited this wine from being saved:</h2>

      <ul>
      <% wine.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <div class="field mb-4">
    <%= form.label :name %>
    <%= form.text_field :name, autofocus: true%>
  </div>
  
  <%# Nested form for blends attributes %>
  <div class="field">
    <%= form.fields_for :blends do |ff|%>
      <%= render 'blend_fields', f: ff %>
        <%# Cocoon helper %>
        <%= link_to_add_association 'Add new strain', form, :blends, class:'btn btn-primary' %>
    <% end %>
  </div>

  <div class="actions mt-3">
    <%= form.submit :Submit, class: "btn btn-success"%>
  </div>


<% end %>
