<p id="notice"><%= notice %></p>

<h1>Peter Wine List</h1>

<table class="table">
  <thead>
    <tr>
      <th>Wine</th>
      <th>Strains</th>
      <th colspan="10"></th>
    </tr>
  </thead>

  <tbody>
    <% @wines.each do |wine| %>
      <tr>
        <td><%= wine.name %></td>
        <td>
          <ul>
            <% wine.sorted_strains.each do |strain| %>
              <li><%= strain %></li>
            <% end %>
          </ul>
        </td>

        <td><%= link_to 'Show', wine %></td>
        <td><%= link_to 'Edit', edit_wine_path(wine) %></td>
        <td><%= link_to 'Destroy', wine, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Wine', new_wine_path, class:"btn btn-primary" %>
