<p id="notice"><%= notice %></p>

<h1>Peter Wine List</h1>

<% if current_admin %>
  <%= link_to 'New Wine', new_wine_path, class:"btn btn-primary mb-4 text-light" %>
  <%= link_to 'Strain list', strains_path, class:"btn btn-primary mb-4 text-light" %>
  <%= link_to 'Enologist list', enologists_path, class:"btn btn-primary mb-4 text-light" %>
<% end %>

<table class="table">
  <thead>
    <tr>
      <th>Wine</th>
      <th>Strains</th>
      <th>Scores</th>
      <th colspan="10"></th>
    </tr>
  </thead>

  <tbody>
    <% @wines.each do |wine| %>
      <tr>
        <td><%= wine.name %></td>
        <td>
          <% wine.sorted_strains.each do |strain| %>
            <li><%= strain %></li>
          <% end %>
        </td>
        <td>
          <% wine.sorted_scores.each do |score| %>
            <li><%= score %></li>
          <% end %>
        </td>
        <% if current_admin.present? %>
          <td><%= link_to 'Show', wine %></td>
          <td><%= link_to 'Edit', edit_wine_path(wine) %></td>
          <td><%= link_to 'Destroy', wine, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>



